<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My reflections</title>
  <link rel="stylesheet" href="../static/CSS/main.css">
</head>
<body>
  <!-- <h1>My reflections</h1>
  <p>This website is where I'm gonna store my reflections for the last quarter of excesices in <a href="https://replit.com/learn/100-days-of-python/hub">100 days of python</a></p> -->
<script src="static/scripts/main.js"></script>
</body>
</html>