<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form action="/register" method='post'>
    <p style="background-color: red;font-weight: bold;width: 100%;color: white;text-transform: UPPERCASE; opacity: 0">ESTE USUARIO YA SE ENCUENTRA REGISTRADO</p>
    <p>Username: <input type="text" name="username" id="username" required></p>
    <p>Email: <input type="text" name="email" id="email" required></p>
    <p>Password: <input type="password" name="password" id="password" required></p>
    <button type="submit">Register</button>
  </form>
</body>
</html>